.faq{
    padding: 5.6vw;

    h2{
        text-align: center;
        margin-bottom: 24px;
    }

    &__questions{
        &__item{
            background-color: #13151d;
            margin-bottom: 16px;
            border-radius: 8px;
            
            &__question{
                position: relative;
                display: block;
                padding: 24px;
                font-size: 20px;
                color: #fff;
                cursor: pointer;

                &::after{
                    content: '+';
                    position: absolute;
                    top: 0;
                    right: 24px;
                    display: flex;
                    align-items: center;
                    height: 100%;
                    font-size: 40px;
                }
            }

            &__answer{
                height: 0px;
                overflow: hidden;
                padding: 0 24px;
                transition: height, 0.5s ease;
            }

            &--is-open{
                .faq__questions__item__question::after{
                    content: '-';
                }

                .faq__questions__item__answer{
                    height: auto;
                    padding-bottom: 24px;
                    transition: height, 0.5s ease;
                }
            }
        }
    }
}