@use 'variaveis';

.footer{
    padding: 26px 8px;

    &__container{
        max-width: 1024px;
        padding-bottom: 20px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    &__logo{
        width: 80px;
        margin: 0 auto 10px;
    }

    &__links{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 16px;

        &__item{
            display: inline-block;

            a{
                display: block;
                padding: 8px 16px;
                text-decoration: none;

                &:hover{
                    color: variaveis.$corTextoSecundario;
                }
            }
        }
    }

    p{
        margin-bottom: 16px;
    }
}

.language-selector{
    display: flex;
    align-items: center;

    img{
        height: 18px;
        width: 18px;
    }

    select{
        height: 38px;
        border: none;
        background-color: transparent;
        color: variaveis.$corTextoPrincipal;

        &:hover{
            color: variaveis.$corTextoSecundario;
            cursor: pointer;
        }

        option{
            color: variaveis.$corDeFundo;
        }
    }
}