@use 'variaveis';

.shows{
    padding: 2vw 5.6vw;
    transition: all 0.3s ease;
    min-height: 50vw;

    &__list{
        margin-top: 44px;
        display: none;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 24px;

        &__item{
            img{
                max-width: 100%;
                border-radius: 4px;
            }
        }

        &--active{
            display: grid;
        }
    }

    &__tabs{
        display: flex;
        justify-content: center;

        &__button{
            cursor: pointer;
            color: variaveis.$corTextoSecundario;
            font-size: 20px;
            text-transform: uppercase;
            border: none;
            border-bottom: 5px solid transparent;
            padding-bottom: 5px;
            margin: 0 1vw;
            background: none;
            transition: all 0.3s ease;

            &--active{
                border-color: variaveis.$corTextoSecundario;
            }
        }
    }
}