@use 'variaveis';
@use 'shows';
@use 'hero';
@use 'plans';
@use 'available-devices';
@use 'faq';
@use 'footer';
@use 'header';

@font-face{
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face{
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

@mixin text($fontSize: 16px){
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoPrincipal;
}

@mixin title($fontSize:40px){
    @include text($fontSize);
    color: variaveis.$corTextoSecundario;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
    list-style: none;
}

body{
    background-color: variaveis.$corDeFundo;
}

.text--big{
    @include text(18px);

    @media (max-width: 768px){
        @include text(15px);
    }
}

.text{
    @include text;

    @media (max-width: 768px){
        @include text(14px);
    }
}

.text--small{
    @include text(12px);

    @media (max-width: 768px){
        @include text(11px);
    }
}

.text--subItem {
    list-style-type: disc;
    li {
        padding-top: 20px;
        margin-left:40px; 
    }
}

.title--big{
    @include title(48px);

    @media (max-width: 768px){
        @include title(26px);
    }
}

.title{
    @include title;

    @media (max-width: 768px){
        @include title(24px);
    }
}

.title--small{
    @include title(28px);

    @media (max-width: 768px){
        @include title(22px);
    }
}

.link-text{
    @include text;
    color: variaveis.$corTextoSecundario;
    text-decoration: underline;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    border: 1px solid variaveis.$corDeFundo;
    border-radius: 4px;
    font-size: 18px;
    color: variaveis.$corTextoSecundario;
    background-color: variaveis.$corBtn;
    text-transform: uppercase;
    text-decoration: none;
    padding: 8px 14px;
    letter-spacing: 1px;
    
    &:hover{
        cursor: pointer;
        background-color: lighten(variaveis.$corBtn, 3%);
    }

    &--secondary{
        background-color: variaveis.$corBtnSecondario;

        &:hover{
            background-color: lighten(variaveis.$corBtnSecondario, 3%);
        }
    }

    &--dark{
        background-color: rgba(variaveis.$corBtnDark, 0.8);
        border-color: variaveis.$corTextoSecundario;

        &:hover{
            background-color: variaveis.$corTextoSecundario;
            color: variaveis.$corDeFundo;
        }
    }
}

.image-text-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 5.6vw;

    img{
        max-width: 100%;
    }

    &__text_container{
        padding: 0 2vw;

        h2{
            margin-bottom: 24px;
        }
    }

    &--image-full-width{
        display: block;
        position: relative;

        img{
            width: 100%;
        }

        &__text_container{
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: absolute;
            top: 0vw;
            left: 50%;
            height: 100%;
            width: calc(50% - 5.6vw);

            @media (max-width: 768px){
                position: relative;
                left: 0;
                width: 100%;
            }
        }
    }

    @media (max-width: 768px){
        display: block;
    }
}