@use 'variaveis';
@use 'shows';
@use 'hero';
@use 'plans';

@font-face{
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face{
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

@mixin text($fontSize: 16px){
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoPrincipal;
}

@mixin title($fontSize:40px){
    @include text($fontSize);
    color: variaveis.$corTextoSecundario;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Avenir, sans-serif;
}

body{
    background-color: variaveis.$corDeFundo;
}

.text--big{
    @include text(18px);
}

.text{
    @include text;
}

.text--small{
    @include text(12px);
}

.title--big{
    @include title(48px);
}

.title{
    @include title;
}

.title--small{
    @include title(28px);
}

.link-text{
    @include text;
    color: variaveis.$corTextoSecundario;
    text-decoration: underline;
}

.button{
    display: block;
    width: 100%;
    height: 60px;
    margin-top: 2vw;
    margin-bottom: 8px;
    border: none;
    border-radius: 4px;
    font-size: 18px;
    color: variaveis.$corTextoSecundario;
    background-color: variaveis.$corBtn;
    text-transform: uppercase;

    &:hover{
        cursor: pointer;
    }
}